/* RESET CSS */
*{
    margin: 0;
    padding:0;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    box-sizing: border-box;
    border: none;
    outline: none;
}

img{
    max-width: 100%;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
h2{
    font-size: 1.5em;
    color: #333;
}
p{
    font-size: 1em;
    color: #777;
}
.cabecalho{
    width: 100%;
    float: left;
    padding: 50px 8%;
    background-color: #13c7ae;
}
.logo a{
    width: 221px;
    height: 48px;
    float: left;
    background: url(../img/logo.png) no-repeat ;
    font-size: 0;
}
.cabecalho form{
    width: 30%;
    float: right;
}
.cabecalho input{
    width: 85%;
    padding: 15px 10px;
    border-radius: 8px 0 0 8px ;
}
.cabecalho button{
    width: 15%;
    float: right;
    padding: 15px 10px;
    background-color: #0cae98;
    color: #fff;
    border-radius: 0 8px 8px 0 ;
    cursor: pointer;
}

.menu{
    width: 100%;
    float: left;
    background-color: #111;
    padding: 18px 8%;
}
.topo{
    width: 10%;
}
.menu li{
    float: left;
}
.menu li a{
    color: #9d9d9d;
    margin-right: 25px;
}
.menu li a:hover{
    color:#fff;
}
/* SOCIAL-ICONS */
.social-icons{
    float: right;
}
.social-icons a{
    color: #fff;
    float: left;
    margin-left: 14px;
}
.fa-facebook:hover{
    color:#3b5998
}
.fa-x-twitter:hover{
    color:#54a4d6;
}
.fa-google:hover{
    color:#d73d32;
}
.principal{
    width: 100%;
    float:left;
    padding: 20px 8%;
}

.sobre{
    width: 70%;
    float: left;
    padding: 0 20px 20px 0;
    
}
.sobre h2{
    margin-bottom: 15px;
}
.sobre img{
    width: 50%;
    float: left;
    border-radius: 8px;
    margin: 0 15px 15px 0;
}
.p{
    text-align: justify;
    font-size: 20px;
}
/* SIDEBAR */
.onde-estamos{
    width: 30%;
    float: right;
    padding: 10px 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
}
.onde-estamos h2{
    margin-bottom: 5px;
}
.onde-estamos iframe{
    width: 100%;
    height: 250px;
    margin: 20px 0;
}
.onde-estamos li{
    color: #777;
    margin-top: 10px;
}
.onde-estamos i{
    margin-right: 6px;
}
.newsletter{
    width: 100%;
    float: left;
    background-color: #111;
    padding: 50px 8%;
}
.newsletter h3{
    font-size: 1.8em;
    color: #fff;
}
.newsletter p{
    font-size: 1.2em;
    color: #fff;
}
.newsletter form{
    width: 100%;
    float: left;
    margin-top: 10px;
}
.newsletter form input{
    width: 40%;
    margin-right: 1%;
    padding: 10px 10px;
    border: 1px solid #fff;
    border-radius: 6px;
    color: #fff;
    background-color: initial;
}
.newsletter button{
    width: 15%;
    height: 40px;
    border-radius: 6px;
}


footer p{
    width: 100%;
    float: left;
    padding: 15px 8%;
    color: #fff;
    background-color: #13c7ae;
}
